.navbar {

    &-border-primary{
        position: absolute;
        top: 49px;
        left: 0;
        width: 50%;
        height: 2px;
        background-color: $primary;
        @include media-breakpoint-up(lg){
            top: 105px;
        }
    }
    &-border-secondary{
        position: absolute;
        top: 49px;
        right: 0;
        width: 50%;
        height: 2px;
        background-color: $secondary;
        @include media-breakpoint-up(lg){
            top: 105px;
        }
    }
    
    &-brand {
        background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week6-202207/logo2.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 24px;
        width: 24px;
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;

        @include media-breakpoint-up(lg) {
            background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week6-202207/logo.svg);
            height: 42px;
            width: 175px;
        }
    }

    &-toggler[aria-expanded="false"]{
        .close {
            display: none;
        }
    }
    &-toggler[aria-expanded="true"]{
        .drag_handle {
            display: none;
        }
    }

    .nav-link:hover{
        @include gradient-y;
        background-clip: text;
        color: transparent !important;
        transition: .8s;
    }
}

.label{
    color: $gray-500 !important;
    margin-bottom: $spacer * 0.5;
}
.input{
    color: $gray-500 !important;
    background-color: $gray-800 !important;
    border: 1px solid $white;
    border-radius: $spacer * 0.25;
    padding: $spacer * 0.5 $spacer;
}

.main{
    margin-top: 51px;
    @include media-breakpoint-up(lg){
        margin-top: 107px;
    }
}