.banner{
  margin-top: 51px;
  min-height:calc(100vh - 51px);
  @include media-breakpoint-up(lg){
    margin-top: 107px;
    min-height:calc(100vh - 107px);
  }

  &-pic{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home_mobile.jpg?raw=true);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 51px - 6px);
    @include media-breakpoint-up(md){
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home.jpg?raw=true);
    }
    @include media-breakpoint-up(lg){
      min-height:calc(100vh - 107px - 6px);
    }
  }
}

.home-title-border{
  width: 50px;
  height: 3px;
}

.home-intro-card{
  background-color: #202020;

  @include media-breakpoint-up(md){
    background-color: inherit;
    opacity: 0.5;

    span{
      background-image: linear-gradient(white,white)
    }

    &:hover{
      opacity: 1;
      background-color: #202020;
      transition: .8s;
      span{
        @include gradient-y;
      }
    }
  }
}

.programmingLanguagesSwiper{
  button{
    width: 158px;
  }
}

.home-advantage-card{
  @include media-breakpoint-up(lg){
    .material-icons{
      color: $white !important;
      opacity: 50%;
    }
    .home-title-border{
      background-color: $white !important;
      left: 0px !important;
      transform: translate(0%,0%) !important;
    }

    &:hover{
      .card-img{
        opacity: 1;
        transition: all .9s;
      }
      .material-icons{
        color: $primary !important;
        opacity: 1;
        transition: all .9s;
      }
      .home-title-border{
        background-color: $primary !important;
        width: 70px;
        transition: all .9s;
      }
      .card-text{
        opacity: 1;
        transition: all .9s;
      }
    }
  }
}

.home-article-card{
  .squareRounded {
    display: none;
    width: 32px;
    height: 32px;
    &-topLeft {
      border-top: 1px solid $primary;
      border-left: 1px solid $primary;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 1px solid $primary;
      border-right: 1px solid $primary;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 1px solid $primary;
      border-left: 1px solid $primary;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 1px solid $primary;
      border-right: 1px solid $primary;
      border-bottom-right-radius: 10px;
    }
  }
  &:hover{
    img{
      opacity: 60%;
      transition: .6s;
    }
  }
  @include media-breakpoint-up(lg){
    &:hover{
      .squareRounded {
        display: block;
      }
    }
  }
}

.home-feedback{
  @include media-breakpoint-up(lg){
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.swiper{
  width: 100%;
  height: auto;

  &-img{
    position: relative;
    top: 0;
    left: 5px;
    width: calc(100% - 5px);
    height: 40vh;
    border-radius: 24px;
    @include media-breakpoint-up(lg){
      margin-right: -38px;
      left: 10px;
      width: calc(100% - 10px);
      max-height: 381px;
    }
    
    &::after{
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid $gray-600;
      border-radius: 24px;
      left: -5px;
      bottom: -5px;
      z-index: -1;
      @include media-breakpoint-up(lg){
        left: -10px;
        bottom: -10px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 24px;
    }
  }

  .card{
    border-radius: 24px 24px 24px 0;
    @include media-breakpoint-up(lg){
      position: absolute;
      margin-left: -48px;
      margin-top: 53%;
    }

    &-img{
      top: 0;
      right: 1%;
      @include media-breakpoint-up(lg){
        margin-bottom: 0;
      }
    }
  }

  // 讓原本的icon消失
  &-button-next:after, &-button-prev:after {
    content: '';
  }

  &-button-next, &-button-prev {
    position: unset;
    width: 24px;
    height: 24px;
    margin-top: 0;
    color: $primary;
  }

  &-pagination {
    position: unset;
    width: auto;
    .swiper-pagination-bullet {
      background-color: $primary;
      opacity: initial;
      &-active {
        width: 16px;
        border-radius: 100px;
      }
    }
  }

  &-buttons {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    position: absolute;
    @include media-breakpoint-up(lg){
      bottom: -2%;
      left: 28%;
    }
  }
}

.home-recruiting-card{
  background-color: #202020;

  .material-icons{
    font-size: 80px;
  }
}