.progress-text{
    top: 36px;
    left: -60%;
}

.bg-lg-gray-800{
    @include media-breakpoint-up(lg){
        background-color: $gray-800;
    }
}
.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 12px;
    border-color: $gray-700 transparent transparent transparent;
    bottom: -12px;
    right: 50%;
    @include media-breakpoint-up(lg){
        border-width: 12px 0 12px 12px;
        border-color: transparent transparent transparent $gray-700;
        top: 50%;
        right: -12px;
    }
}

.register{
    @include media-breakpoint-up(lg){
        &-course{
            margin-right: -48px;
            z-index: 1;
        }
        &-form{
            margin-left: -48px;
        }
    }
}

.datepicker{
    &-view , &-cell{
        color: $gray-800;
    }
    &-cell:not(.disabled):hover {
        background-color: #e8e8e8;
    }
    &-cell.selected, .datepicker-cell.selected:hover {
        background-color: $primary;
        color: $white;
    }
}

.payment-btn{
    width: 48%;
    @include media-breakpoint-up(lg){
        width: auto;
    }
}

.btn-check:checked + label{
    background-color: $gray-800 !important;
    border: 1px solid $primary !important;
    color: $primary !important;
    box-shadow:none !important;
}
