// border rounded
.rounded{
    &-8{
        border-radius: 8px !important;
    }
    &-12{
        border-radius: 12px !important;
    }
    &-24{
        border-radius: 24px !important;
    }
}

// outline
.outline-hover-primary:hover{
    border: 1px solid $primary;
  
  @include media-breakpoint-up(md){
    .outline-hover-md-primary:hover{
      outline: 1px solid $primary;
    }
  }
}
