// breakpoints font-sizes start //
@include media-breakpoint-up(md){
    .fs-md-1 {font-size: $h1-font-size !important ;} //48px
    .fs-md-2 {font-size: $h2-font-size !important ;} //32px
    .fs-md-3 {font-size: $h3-font-size !important ;} //28px
    .fs-md-4 {font-size: $h4-font-size !important ;} //24px
    .fs-md-5 {font-size: $font-size-base * 1.375 !important ;} //22px
    .fs-md-6 {font-size: $h5-font-size * 1.25 !important ;} //20px
    .fs-md-7 {font-size: $font-size-base * 1.125 !important ;} //18px
    .fs-md-8 {font-size: $h6-font-size !important ;} //16px
    .fs-md-9 {font-size: $font-size-base * 0.875 !important ;} //14px
    .fs-md-10 {font-size: $font-size-base * 0.75 !important ;} //12px
}

@include media-breakpoint-up(lg){
    .fs-lg-1 {font-size: $h1-font-size !important ;} //48px
    .fs-lg-2 {font-size: $h2-font-size !important ;} //32px
    .fs-lg-3 {font-size: $h3-font-size !important ;} //28px
    .fs-lg-4 {font-size: $h4-font-size !important ;} //24px
    .fs-lg-5 {font-size: $font-size-base * 1.375 !important ;} //22px
    .fs-lg-6 {font-size: $h5-font-size * 1.25 !important ;} //20px
    .fs-lg-7 {font-size: $font-size-base * 1.125 !important ;} //18px
    .fs-lg-8 {font-size: $h6-font-size !important ;} //16px
    .fs-lg-9 {font-size: $font-size-base * 0.875 !important ;} //14px
    .fs-lg-10 {font-size: $font-size-base * 0.75 !important ;} //12px
}
// breakpoints font-sizes end //

// font-family 'Azeret Mono' start //
.font-mono{
    font-family: 'Azeret Mono', monospace;
}
// font-family 'Azeret Mono' end //
